:root {
    --red: #f9032f;
    --black: #000;
    --White: #fff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background: #000;
    height: 60px;
    padding: 0.5rem calc((100vw - 1200px)/2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navbar__logo {
    color: #fff;
    text-decoration: none;
    padding-left: 1rem;
    font-size: 1.5rem;

}

.navbar__link {
    color: #fff;
    text-decoration: none;
    padding: 0rem 0.2rem;
}

.navbar__link:hover{
    color: yellow;
}

@media screen and (max-width: 768px) {
    body.active {
        overflow-y: hidden;
        overflow-x: hidden;
    }

.navbar__link {
        display: flex;
        align-items: center;
        justify-content: center;
    }

.navbar__menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 100px);
    position: absolute;
    width: 100%;
    top: -1000px;
}    

.navbar__menu.active {
    top: 100%;
    opacity: 1;
    z-index: 99;
    height: 100vh;
    font-size: 1.5rem;
    background: #000;
}

.navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
    display: block;
    cursor: pointer;
}

#mobile-menu {
    position: absolute;
    top: 15%;
    right: 5%;
    transform: translate(5%, 20%);
}



#mobile-menu.is-active .bar:nth-child(2){
    opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

}



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.hero__section {
background: #002ed0;
padding: 0 60px;
color: #fff
}

.hero__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 820px;
}

.column__left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.column__left h1 {
    font-size: 70px;
}

.column__left p {
    font-size: 16px;
    line-height: 2.3;
}

.column__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1100px){
    .hero__section {
        padding: 30px;
    }


    .hero__wrapper {
    grid-template-columns: 1fr;
    }
   
    .column__left h1 {
    font-size: 80px;
    }
}

@media screen and (max-width: 468px) {
    .hero__wrapper {
        grid-template-rows: 600px;
    }

    .column__left h1 {
        font-size: 32px;
    }
}

/* About Section */
.main__section {
    padding: 60px 60px;
    background: #002ed0;
    color: #fff;
}

.main__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.main__container h1 {
    font-size: 45px;
    color: #0000;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
}

.main__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 700px;
}

.main__text {
    padding-right: 20px;
}

.main__text h2 {
    font-size: 48px;
    line-height: 1.5;
    margin-bottom: 32px;
}

.main__text p {
    line-height: 1.5;
}

.main__image {
    display: flex;
    justify-content: center;
}
.main__img {
    width: 300px;
    height: 300px;
}

/* Media Queries for About Section*/
@media screen and (max-width: 1000px) {
    .main__section {
        padding: 30px;
    }

    .main__content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .main__image {
        margin-top: 40px;
    }

    .main__container h1 {
        font-size: 70px;
    }
}

@media screen and (max-width: 468px) {
    .main__text h2 {
        font-size: 32px;
    }

    .main__img {
        width: 100%;
        height: 100%;
    }
}

/* Servicces Css */
.services {
    background: #002ed0;
    color: #fff;
    position: relative;
}

.services__container {
    background: #000;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 60px;
}

.services__grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 700px;
}

.services__container h1 {
    font-size: 50px;
}

.services__left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 50px;
}

.services__content {
    display: flex;
    align-items: flex-start;
}

.services__content img {
    margin-right: 50px;
}

.services__desc h2 {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.services__desc p {
    line-height: 2;
}

.macbook {
    height: 700px;
    width: 100;
}

.yellow__bar {
    position: absolute;
    background: yellow;
    height: 80px;
    bottom: -40px;
    right: 0;
    width: 80%;
    color: #000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.yellow__bar img {
    margin: 0 40px;
}

.yellow__bar p {
    margin-right: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

/* Services Medea Queries */
@media screen and (max-width:768px) {
    .services__grid{
        grid-template-columns: 1fr;
    }

    .macbook {
        display: none;
    }

    .yellow__bar {
        width: 100%;
        justify-content: flex-start;
    }
}

@media screen and (max-width: 468px) {
    .services__container {
        padding-top: 100px;
        padding-bottom: 200px;
        padding-left: 16px;
    }
    

    .services__grid {
        grid-template-columns: 1fr;
        grid-template-rows: 900px;
    }

    .services__container h1 {
        text-align: center;
        margin-bottom: 160px;
    }

    .services__left {
        padding: 0 24px;
    }

    .services__content {
        margin-top: 40px;
    }

    .services__content img {
        margin-right: 16px;
    }

    .yellow__bar img {
        margin: 0 20px;
    }

    .yellow__bar p {
        margin-right: 20px;
    }
}

/* Portfolio css */
.portfolio {
    background: #002ed0;
    color: #fff;
}

.portfolio__container {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 60px;
}

.portfolio__container h1 {
    font-size: 110px;
    color: #fff;
    -webkit-text-fill-color:transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    margin-bottom: 32px;
}

.portfolio__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.porfolio__img {
    height: 100%;
    width: 100%;
}

.portfolio__right {
    padding: 150px 100px 0 20px;
}

.portfolio__right h2 {
margin-bottom: 40px;
font-size: 30px;
}

.portfolio__right p {
    margin-bottom: 50px;
    line-height: 2.5;
}

.portfolio__right a {
color: #fff;
text-decoration: none;
}

.portfolio__projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 32px 64px;
}

.portfolio__projects img {
    padding: 0 8px;
    width: 100%;
    height: 100%;
}

/* Portfolio Media Queries */
@media screen and (max-width: 1368px) {
    .portfolio__projects {
        flex-direction: column;
    }
}

@media screen and (max-width: 1000px) {
    .portfolio {
        padding: 30px;
    }

    .portfolio__container h1 {
        font-size: 70px;
    }

    .portfolio__main {
        grid-template-columns: 1fr;
    }

    .portfolio__container {
        padding-left: 0px;
    }

    .portfolio__right {
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 468px) {
    .portfolio {
        padding: 10px;
    }

    .portfolio__container h1 {
        font-size: 40px;
    }
}

/* Contact css */

/*Contact Form*/




/* Footer */
.footer {
    padding: 5rem calc((100vw - 1100px) / 2);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: #002ed0;
    color: #fff;
}

.footer__dsec {
    padding: 0 2rem;
}

.footer__desc h1 {
    margin-bottom: 2rem;
    color: #fff;
    font-size: 1.5rem;
}

.footer__desc p {
    margin-bottom: 1rem; 
}

#phone {
    font-weight: bold;
    font-size: 1.2rem;
}

.footer__wraper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footer__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 2rem;
}

.footer__title {
    font-size: 14px;
    margin-bottom: 16px;
}

.footer__link {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    margin-bottom: 0.5rem;
    transition: 0.3s ease-in-out;
}

.footer__link:hover {
    color: yellow;
}

@media screen and (max-width: 820px) {
    .footer__wraper {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 400px) {
    .footer__desc {
        padding: 1rem;
    }

    .footer__links {
        padding: 1rem;
    }

}